.paidoslados {
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
}

.paidoslados div {
    width: 50%;
}

.paidoslados .ladodireito img {
    width: 100%;
}

.paidoslados .ladoesquerdo p {
    text-align: justify;
}

.paidoslados .ladoesquerdo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.paidoslados .ladoesquerdo button:hover {
    background-color: rgb(226, 225, 225);
}

.paidoslados .ladoesquerdo h1,
.Newsletter h2 {
    text-transform: uppercase;
}

.Newsletter {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
}

.Newsletter .Espaço {
    gap: 5px;
}
@media screen and (max-width: 780px) {
    .Newsletter form {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}

@media screen and (max-width: 733px) {
    .paidoslados {
        flex-direction: column-reverse;

    }

    .paidoslados div {
        width: 100%;
    }
}