* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url(../img/ai-generated-7824247_1280.jpg);


}

.cabecalho {
    display: flex;
    /*Deixa os filhos um do lado do outro*/
    justify-content: space-between;
    align-items: center;
    background-color: rgb(77, 140, 165);
    padding: 30px 60px;
}
.cabecalho h1 {
    animation: balada .3s infinite;
    animation: movimentar 3s;
}

.cabecalho ul {
    display: flex;
    gap: 20px;
}

.cabecalho ul :hover {

    background-color: black;
}

.cabecalho a {
    color: rgb(227, 243, 243);
}

.cabecalho .MENU {
    display: none;
}

.main {
    padding: 30px 60px;
}

.btn {
    width: 250px;
    border: 2px black solid;
    border-radius: 4px;
    padding: 10px 20px;
    background-color: rgb(77, 140, 165);
    color: rgb(10, 10, 10);
    box-shadow: black 3px 3px 0px;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: rgb(226, 225, 225);
}

.rodape {
    background-color: rgb(77, 140, 165);
    padding: 30px 60px;
    color: black;
    text-align: center;

}

@media screen and (max-width: 500px) {
    .cabecalho nav {
        display: none;
    }

    .cabecalho .MENU {
        display: flex;
    }

}

@media screen and (max-width: 650px) {
    .main {
        padding: 10px;
    }
}

.cabecalho .select {

    background-color: rgb(0, 0, 0);
}

@keyframes balada {
    0% {
        color: blue;
    }

    50% {
        color: brown;
    }

    100% {
        color: black;
    }
}

@keyframes movimentar {
    0% {
transform: translate(-500px);
    }
    100% {
        transform: translate(0);
    }
}