* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    list-style: none;
}

.cabecalho {
    display: flex; /*Deixa os filhos um do lado do outro*/
    justify-content: space-between;
    align-items: center;
    background-color: rgb(77, 140, 165);
    padding: 30px 60px;
}

.cabecalho ul {
display: flex;
gap: 20px;
}

.cabecalho ul a { 

}
.cabecalho a {
    color: rgb(227, 243, 243);
}
.main {
padding: 30px 60px;
} 

   





